/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    /* max-width: 200px; */
    max-width: 500px;
    height: 200px;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 10px;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
